#cabecera{
    border-style: solid;
    border-color: white;
    
}
h1{
    text-align:center;
    color:black;
}

html{
        background-image: url(https://2.bp.blogspot.com/-5j5C5lzSi5I/VHSMynkJuVI/AAAAAAAAAfo/wnObVOIWMVg/s1600/Android-Lollipop-wallpapers.jpg);
}
    
#sidebar{
    background-color: white;
    margin-left: 80%;
    
    

} 
.widget-title{
     margin-left: 10%;
     color:black;
}
#wp-calendar{
   color: black;
   
    margin-left: 8%;
}
#main{
    text-align: center;
    color:black;
    
}
.menu-menu2-container{
    margin-left: 40%
}
#pie{
    background-color:white;
    color:black;
}