#cabecera{
    border-style: solid;
    border-color: white;
    
}
h1{
    
    color:black;
}

html{
        background-image: url(https://2.bp.blogspot.com/-5j5C5lzSi5I/VHSMynkJuVI/AAAAAAAAAfo/wnObVOIWMVg/s1600/Android-Lollipop-wallpapers.jpg);
}
    

.widget-title{
     margin-left: 10%;
     color:black;
}
#wp-calendar{
   color: black;
   
    margin-left: 8%;
}
#main{
   
    color:black;
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#pie{
    background-color:white;
    color:black;
    width: 100%;
    
}
#loop{
    float:left;
    width:70%;
}
#sidebar{
    float:left;
    width: 25%;
}

