#cabecera{
    background-image:url(http://core0.staticworld.net/images/article/2014/04/windows-xp-bliss-start-screen-100259803-orig.jpg);
}
h1{
    text-align:center;
    color:white;
}
html{
    background-color:lightblue;}
    
#sidebar{
    background-image: url(https://1.bp.blogspot.com/-f2TD2r3xlok/V8DakjdsuBI/AAAAAAAAjjw/uHHSVOjDxDcVhYVv3HfURUwV2KHec_t0gCLcB/s1600/hermosas%2Bpaisajes.jpg);
} 
.widget-title{
    margin-left: 85%
}
#wp-calendar{
   color: #ff4433;
    margin-left: 75%
}